@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/* body {
    background: #9f654f;
} */

nav {
    background: #f8f8f8;
    color: hsl(249, 30%, 17%);
}

nav:after {
    content: '';
    clear: both;
    display: table;
}

nav ul {
    float: right;
    list-style: none;
    margin-right: 30px;
    position: relative;
}

nav ul li {
    text-align: left;
    display: inline-block;  
    margin: 0 5px;
} 

/* .search-bar {
    background-color: hsl(249, 30%, 95%);
    border-radius: 2rem;
    padding: 0.6rem 1rem;
}

.search-bar input[type="search"] {
    background: transparent;
    width: 20vw;
    margin-left: 1rem;
    font-size: 0.9rem;
    border: none;
    color: black;
    outline-width: 0;
} */

nav ul li a {
    color: black;
    text-decoration: none;
    line-height: 70px;
    font-size: 18px;
    padding: 8px 15px;
    margin-left: 10px;
    border-radius: 30px;
}

nav ul li a:hover {
    color: #037c21;
    box-shadow: 0 0 5px #037c21,
                0 0 5px #037c21;
}

nav .logo {
    float: left;
    margin-left: 20px;
    margin-top: 10px;
}

/* nav .bar {
    float: left;
    text-align: center;
    margin-left: 20px;
    margin-top: 30px;
}
 */


.column1 {
    float: left;
    width: 10%;
    padding: 10px;
    height: 91.05vh; 
    /* position: fixed; */
    /* border-right: solid 3px black; */
}

.column1 a {
    display: block;
    padding: 10px;
    color: #000;
    border-radius: 30px;
    text-decoration: none;
    /* width: 120%; */
}
.column1 a.active {
    background-color: #037c21;
    color: #fff;
}

.column2 {
    float: left;
    width: 90%;
    padding: 10px;
    height: 91.05vh; 
    /* margin-left: 250px; */
}

.header {
    font-weight: 600;
}

.formLabel {
    font-weight: 600;
}

  
.roww:after {
    content: "";
    display: table;
    clear: both;
}

.page-item.active .page-link {
    columns: #fff;
    background-color: #c5c5c5;
    border: #c5c5c5;
}

.pagination > li > a {
    background-color: #fff;
    color: #c5c5c5;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > span > a:focus,
.pagination > span > a:hover {
    color: black;
    background-color: #d3d3d3;
    border: 1px solid #c5c5c5;
    box-shadow: none;
}

.dataTables_paginate {
    margin-top: 10px !important;
    /* margin-right: 10px !important; */
}

.dataTables_filter {
    margin-bottom: 10px !important;
    /* margin-right: 10px !important; */
}

table.table tr th {
    background: #064e10 !important; 
    color:white !important;
}

.dt-buttons {
    /* padding: 5px 10px; */
    /* margin: 10px 3px 10px 0; */
    margin-top: 10px;
}

/* .dataTables_length {
    margin-bottom: 10px !important;
} */

.keyButton {
    margin-left: 87.2%;;

}

.form-group {
    margin-top: 5px;
}

.modal-body .row {
    margin-top: 10px;
}

.modal-body .custom-file {
    margin-top: 100px;
}

.form-group .form-control-file {
    margin-top: 5px;
}

.headerList {
    font-weight: 600;
}

.AddButton{
    margin-left: 92.5%;
    margin-bottom: 10px;
    margin-top: 20px;
}

.form-group input:focus {
    outline: 0;
}

.form-group.success input {
    border-color: #09c372;
}

.form-group.error input {
    border-color: #ff3860;
}

.form-group.success input {
    border-color: #09c372;
}

.form-group.error input {
    border-color: #ff3860;
}

.form-group.success .form-control {
    border-color: #09c372;
}

.form-group.error .form-control {
    border-color: #ff3860;
}

.row .col.success .form-control {
    border-color: #09c372;
}

.row .col.error .form-control {
    border-color: #ff3860;
}

.form-group .error {
    color: #eb274e;
    font-size: 12px;
    margin: 5px 0;
}

.row .col .error {
    color: #eb274e;
    font-size: 12px;
    margin: 5px 0;
}
.card {
    background-color: #fff;
    border-radius: 10px;
    border: none;
    position: relative;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
    box-shadow: 0 0.46875rem 2.1875rem rgba(90,97,105,0.1), 0 0.9375rem 1.40625rem rgba(90,97,105,0.1), 0 0.25rem 0.53125rem rgba(90,97,105,0.12), 0 0.125rem 0.1875rem rgba(90,97,105,0.1);
}
.l-bg-blue {
    background: #a4cc44 !important;
    color: #fff;
}
.l-bg-beige {
    background: #d0d424 !important;
    color: #fff;
}


.card .card-statistic-3 .card-icon-large .fa-solid, .card .card-statistic-3 .card-icon-large .fa {
    font-size: 110px;
}

.card .card-statistic-3 .card-icon {
    text-align: center;
    line-height: 50px;
    margin-left: 15px;
    color: #000;
    position: absolute;
    right: -2px;
    top: 20px;
    opacity: 0.1;
}

::placeholder {
    opacity: 0.3; 
  }

/* .chart-container {
    width: 20%;
    
    margin: 5% auto; 
}

.chart-container .chart-row {
    display: flex; 
    margin-bottom: 20px; 
}

.chart-row canvas {
    flex: 1; 
    margin-right: 20px; 
}

.chart-row canvas:last-child {
    margin-right: 0; 
} */

/* .chary-card {
    margin-top: 8%;
    margin-left: 20%;
    width: 70%;
}

.bar-card {
    margin-top: 8%;
    margin-left: 20%;
    width: 70%;
} */
/* .cardChart {
    width: 600px; 
    height: 350px; 
   
  }
  
  .card-body {

    display: flex;
    justify-content: center;
    align-items: center;
  } */

/* .chartss {
    justify-content: space-between;
} */

.container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.chart-row {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.tag-container {
    border:transparent;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
}

.tag {
     background-color: #dcf793;
    padding: 3px 8px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.tag-text {
    margin-right: 4px;
}

.tag-remove {
    cursor: pointer;
    color: rgb(8, 8, 8);
    font-weight: bold;
}


