{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>YummiLicious</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="{% static 'css/passwordReset.css' %}">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
</head>
<body>
  <nav class="navbar">
    <div class="container-fluid">
      <a href="#" class="navbar-brand">
        <img src="{% static 'images/CoolBrand.png' %}" height="70" alt="CoolBrand">
      </a>
    </div>
  </nav>
  <div class="divBar"> 
    <section class="container">
      <header><i class="fa-solid fa-paper-plane"></i></header>
      <header class="textHeader">Password Reset</header>
        <form class="form">
          <p class="para">Hello! We have now sent an email with a link to reset your password to your registered email id.</p>  
        </form>
  </div>
</body>
</html>