<!-- <h1>Login</h1> -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>YummiLicious</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="{% static 'css/passwordReset.css' %}">
  <script type="text/javascript" defer src="{% static 'js/passwordResetConfirm.js' %}"></script>
</head>
<body>
  <nav class="navbar">
    <div class="container-fluid">
      <a href="#" class="navbar-brand">
        <img src="{% static 'images/CoolBrand.png' %}" height="70"  alt="CoolBrand">
      </a>
      <!-- <div class="navbar-nav ms-auto">
        <a href="{% url 'login' %}" class="nav-item nav-link">Login</a>
      </div> -->
    </div>
  </nav>
  <div class="divBar"> 
    <section class="container">
      <header>Reset Password</header>
        <form method="POST" action="" id="form" class="form">
          {% csrf_token %}
          <div class="input-box">
            <label>New password</label>
            <input type="password" placeholder="******" name='newpass' id="newpass" >
            <div class="error"></div>
          </div>
          <div class="input-box">
            <label>Confirm Password</label>
            <input type="password" placeholder="******" name='cnfrmpass' id="cnfrmpass" >
            <div class="error"></div>
          </div>
          <div class="text-center">
            <button id="submit">Reset Password</button>
          </div>
        </form>
  </div>
</body>
</html>